---
import { actions, isInputError } from "astro:actions";

interface Props {
    postSlug: string;
}

const { postSlug } = Astro.props;

const result = Astro.getActionResult(actions.addComment);
const inputErrors = isInputError(result?.error) ? result.error.fields : {};
---

<form method="POST" action={actions.addComment} class="">
<div class="container-form">
  <input type="hidden" name="postSlug" value="{postSlug}" />

  <div class="comments-form-box">

    <input
      type="text"
      id="name"
      name="name"
      class="comments-form-input"
      placeholder="Your name. Optional."
    />
    {inputErrors.name &&
    <p class="text-red-500">{inputErrors.name}</p>
    }

    <input
      type="email"
      id="email"
      name="email"
      class="comments-form-input"
      placeholder="Your email. Optional."
    />
    {inputErrors.email &&
    <p class="text-red-500">{inputErrors.email}</p>
    }
  </div>

  <div class="comments-form-box">
    <textarea
      id="message"
      name="message"
      required
      class="comments-form-input"
      placeholder="Something to say? Here's the place!"
    ></textarea>
    { inputErrors.message && (
    <p class="text-red-500">{inputErrors.message}</p>
    ) }
  </div>

  <div class="comments-form-box">
    <div class="comments-form-box">
        <button type="submit">
      Add Comment
    </button>
    </div>
  </div>
</div>
</form>