<header class="header">
    <div class="header__inner">
      <div class="header__logo">
        <a href={base}>
          <div class="logo">
            Antonio Tirone
          </div>
        </a>
      </div>
      <ul class="menu menu--mobile">
        <li class="menu__trigger">Menu ▾</li>
        <li>
          <ul class="menu__dropdown">
            <li><a href={`${base}about/`}>About</a></li>
            <li><a href={`${base}posts/showcase/`}>Showcase</a></li>
            <li><a href={`${base}posts/`}>Posts</a></li>
            <li><a href={`${base}tags/`}>Tags</a></li>
            <li><a href={`${base}posts/rich-content/`}>Rich Content</a></li>
            <li><a href={`${base}posts/code-blocks-examples/`}>Code Examples</a></li>
          </ul>
        </li>
      </ul>
    </div>
    
    <nav class="navigation-menu">
      <ul class="navigation-menu__inner menu--desktop">
        <li><a href={`${base}about/`}>About</a></li>
        <li><a href={`${base}blog`}>Blog</a></li>
        <li>
          <ul class="menu">
            <li class="menu__trigger">Show more ▾</li>
            <li>
              <ul class="menu__dropdown">
                <li><a href={`${base}posts/`}>Posts</a></li>
                <li><a href={`${base}tags/`}>Tags</a></li>
                <li><a href={`${base}posts/rich-content/`}>Rich Content</a></li>
                <li><a href={`${base}posts/code-blocks-examples/`}>Code Examples</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
